<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<a class="btn button1 btn-sm" role="button" href="/users/sign_in">Sign In</a>
<a class="btn btn-light btn-sm" data-method="delete" href="/users/sign_out" role="button">Sign Out</a>