<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div id="left-display">
    <h1 class="w3-jumbo w3-animate-top">MyPass</h1>
    <p class="w3-large w3-left" style="padding-bottom:10px">Let us worry about keeping your passwords safe so you don't have to.</p>
    <a class="btn" role="button" href="/users/sign_in">Sign In</a>
    <a class="btn" data-method="delete" href="/users/sign_out" role="button">Sign Out</a>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>
</body>
</html>