// Place all the styles related to the securePasswords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#password_form_container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, #376383, #4f8fbe);
    min-height: 100vh;
}

#password_form_container form {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space;
    text-align: center;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom, 
        rgba(217, 219, 226,1),
        rgba(255, 255, 255, 0.7)
    );
    border-radius: 0.5rem;
}

#inputlist{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-height: 80vh;
    min-height: 40vh;
}

#newpasswordh1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    top: 0;

    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

